<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Tuesday, 17. December 2024 at 20:45:53 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2024-12-17T19:45:53Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/fourteen/Projects/Vortraege/funktionaleProgrammierungInJava/Videos/Currying.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>cZWMlcqOT76tiBuZ1oWXnQ - 2024-12-17 19:34:55 +0000</string>
		</dict>
	</array>
</dict>
</plist>
