<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Monday, 23. December 2024 at 23:06:34 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2024-12-23T22:06:34Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/fourteen/Library/CloudStorage/GoogleDrive-andreas.juergensen@fourteen-consulting.com/My Drive/FunktionaleProgrammierungMitJava/Multiplication - Currying.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>WR+ecoBuQjW/lVOaBzuLNw - 2024-12-17 19:43:37 +0000</string>
		</dict>
	</array>
</dict>
</plist>
