<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalogVersion</key>
	<string>1110; 10.4.2 (421004)</string>
	<key>catalogVersionBase</key>
	<string>1110; 10.4.2 (421004)</string>
</dict>
</plist>
